@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: "Public Sans", sans-serif;
}

li {
  list-style: none;
}

:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --gradient: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
}

h1, h2, h3, h4 {
  font-family: "Public Sans", sans-serif;
  color: var(--Dark-Blue);
}

p {
  font-family: "Public Sans", sans-serif;
  color: var(--Grayish-Blue);
}

.col-1 {
  width: 60%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 40%;
}

.col-4 {
  width: 35%;
}

.col-5 {
  width: 200px;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 200px;
}

ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

li a {
  color: var(--Grayish-Blue);
  position: relative;
  margin: 20px;
}
li a:hover {
  color: #000;
}

li a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.3em;
  width: 0%;
  background-color: var(--Lime-Green);
  bottom: -2.7em;
  transition: all ease-in-out 250ms;
}

li a:hover::after {
  width: 100px;
}

.button {
  padding: 12px 30px;
  background: var(--gradient);
  border-radius: 20px;
}
.button a {
  color: #fff;
}

.banner {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 70vh;
  background-color: var(--Very-Light-Gray);
}

.container-left {
  padding: 150px 0 0 200px;
}

.row-title {
  padding: 15px 0;
}
.row-title h1 {
  font-size: 70px;
  font-weight: 300;
}

.row-substitle {
  padding: 5px 0;
  line-height: 25px;
}

.button2 {
  padding: 40px 0;
}

.btn2 {
  padding: 12px 30px;
  background: var(--gradient);
  border-radius: 20px;
  width: 166px;
  color: #fff;
}

.cont-title {
  padding: 100px 0 0 200px;
}

.row-title_1 h1 {
  font-size: 40px;
  font-weight: 300;
}

.row-substitle_2 {
  padding: 20px 0;
}
.row-substitle_2 p {
  line-height: 25px;
}

.s-info {
  background-color: var(--Light-Grayish-Blue);
}

.grid-container {
  padding: 50px 200px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.grid {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 255px;
}

.o-row-title {
  padding: 50px 0 0 0;
}

.o-row-substitle {
  padding: 30px 0;
}
.o-row-substitle p {
  line-height: 25px;
}

.s-articles {
  width: 100%;
  padding: 100px 200px;
  background-color: var(--Very-Light-Gray);
}

.art-title h1 {
  font-size: 40px;
  font-weight: 300;
}

.contain-art {
  padding-top: 60px;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 280px;
}
.card img {
  height: 200px;
  width: 280px;
}

.c-by {
  padding-bottom: 10px;
}
.c-by p {
  font-size: 11px;
}

.c-title {
  padding-bottom: 10px;
}
.c-title h1 {
  font-size: 15px;
  font-weight: 400;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.c-title h1:hover {
  color: var(--Lime-Green);
}

.card-plus {
  background-color: #fff;
  padding: 30px 30px;
  width: 280px;
}

.substitle p {
  font-size: 12px;
  line-height: 15px;
}

.col-6 {
  width: 200px;
}

.s-foot {
  height: 20vh;
  background-color: var(--Dark-Blue);
  padding: 50px 200px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.fa {
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.fa:hover {
  color: var(--Lime-Green);
}

.f_column-1 {
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.socials {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ol {
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
ol li p {
  color: var(--Grayish-Blue);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
ol li p:hover {
  color: var(--Lime-Green);
}

.f_column-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.pad-btn {
  padding-left: 50px;
}

.attribution {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
